// Colors
$white: #ffffff;
$primary: #FCA104;
$secondary: #000000;
$dark-100: #909090;
$dark-700: #292929;
$dark-800: #1F1F1F;
$dark-900: #131313;
$dark-950: #0C0C0C;
$white-24: rgba(255, 255, 255, 0.24);
$white-48: rgba(255, 255, 255, 0.48);
$white-64: rgba(255, 255, 255, 0.64);
$white-76: rgba(255, 255, 255, 0.76);
$white-88: rgba(255, 255, 255, 0.88);

// Font Sizes
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-32: 32px;

// Font Weight
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
	margin-top: 0;
}

.w-100{
	width: 100% !important;
}

.text-gold{
	color: #E07F00 !important;
}
.text-white{
	color: $white !important;
}
.text-positive{
	color: #0ED065;
}
.text-negative{
	color: #F03D3D;
}

body{
	font-family: Hack, monospace;
	font-weight: 700;
	background-color: $secondary;
	background-image: url("../../public/images/bg-ruler.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.btn-default{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 8px;
	background-color: $primary;
	font-size: $fs-16;
	color: $secondary;
	box-shadow: 1px -2px 2px 0px rgba(0, 0, 0, 0.37) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.31) inset;
	border: 0;
	outline: 0;
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.btn-lg{
	height: 30px !important;
}
.btn-sm{
	height: 28px !important;
}

.w-100{
	width: 100% !important;
}
.w-auto{
	width: auto !important;
}

.decoration-none{
	text-decoration: none !important;
}
.cursor-pointer{
	cursor: pointer;
}

.d-block{
	display: block !important;
}
.d-flex{
	display: flex !important;
}
.d-inline-flex{
	display: inline-flex !important;
}
.items-start{
	align-items: flex-start !important;
}
.items-center{
	align-items: center !important;
}
.items-end{
	align-items: flex-end !important;
}
.justify-start{
	justify-content: flex-start !important;
}
.justify-center{
	justify-content: center !important;
}
.justify-end{
	justify-content: flex-end !important;
}
.flex-1{
	flex: 1 !important;
}
.text-start{
	text-align: left !important;
}
.text-center{
	text-align: center !important;
}
.text-end{
	text-align: right !important;
}

.gold-block{
	display: flex;
	align-items: center;
	column-gap: 10px;
	height: 28px;
	line-height: 28px;
	padding: 0 8px;
	background: $primary;
	font-size: $fs-16;
	color: $secondary;
	letter-spacing: -0.64px;
	white-space: nowrap;
	box-shadow: 1px -2px 2px 0px rgba(0, 0, 0, 0.37) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.31) inset;
}
.dark-block{
	display: flex;
	align-items: center;
	column-gap: 10px;
	height: 28px;
	line-height: 28px;
	padding: 0 8px;
	background: $dark-900;
	font-size: $fs-16;
	color: $white-88;
	letter-spacing: -0.64px;
	white-space: nowrap;
	box-shadow: 1px 0px 1px 0px #0A0A0A inset;
}
.block-lg{
	height: 30px;
	line-height: 30px;
}

.field{
	height: 30px;
	width: 100%;
	padding: 4px 6px 4px 6px;
	background-color: transparent;
	font-family: Hack, monospace;
	font-size: $fs-16;
	font-weight: $fw-600;
	color: $white;
	border: 1px solid $primary;
	outline: 0;
	box-shadow: none;
	&::-ms-input-placeholder {
		font-family: Hack, monospace;
		font-weight: $fw-700;
		color: $white-24;
	} 
	&::placeholder {
		font-family: Hack, monospace;
		font-weight: $fw-700;
		color: $white-24;
	}
}

.searchbar{
	padding: 4px 10px 4px 35px !important;
	background-image: url("../../public/images/icons/icon-search.svg");
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 16px;
}

.select-field{
	height: 30px;
	width: 100%;
	padding: 4px 35px 4px 6px;
	background-color: $secondary;
	font-family: Hack, monospace;
	font-size: $fs-16;
	color: $white;
	border: 1px solid $primary;
	outline: 0;
	box-shadow: none;
	background-image: url("../../public/images/icons/icon-dd.svg");
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 16px;
	appearance: none;
}
.select-dropdown{
	position: relative;
	width: 100%;
	.clickable{
		height: 30px;
		width: 100%;
		padding: 4px 35px 4px 6px;
		background-color: $secondary;
		font-size: $fs-16;
		color: $white;
		border: 1px solid $primary;
		cursor: pointer;
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		.icon{
			width: 16px;
			position: absolute;
			top: 48%;
			right: 8px;
			transform: translateY(-50%);
			transition: all 0.2s;
		}
	}
	.dropable{
		height: 0;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
    overflow: hidden;
		transition: height 0.2s;
		.item{
			position: relative;
			height: 30px;
			width: 100%;
			padding: 4px 35px 4px 6px;
			background-color: $secondary;
			font-size: $fs-16;
			color: $white;
			border-top: 1px solid $primary;
			border-left: 1px solid $primary;
			border-right: 1px solid $primary;
			cursor: pointer;
			&:first-of-type{
				border-top: 0;
			}
			&:last-of-type{
				border-bottom: 1px solid $primary;
			}
			&.selected{
				background-image: url("../../public/images/icons/icon-checked.svg");
				background-repeat: no-repeat;
				background-size: 16px 16px;
				background-position: center right 8px;
			}
		}
	}
	&.opened{
		.clickable{
			.icon{
				transform: translateY(-50%) rotate(-180deg);
			}
		}
		.dropable{
			height: 90px;
			transition: height 0.2s;
		}
	}
}

.label{
	display: block;
	font-size: $fs-16;
	color: $white;
	line-height: 1.2;
	margin-bottom: 5px;
}

.main{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.box{
	width: 100%;
	max-width: 830px;
	margin: 0 auto;
	border: 1px solid $primary;
	.box-header{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		background-color: $dark-950;
		padding: 10px;
		border-bottom: 1px solid $primary;
		.title{
			display: flex;
			align-items: center;
			column-gap: 8px;
			font-family: "Roboto Mono";
			font-size: $fs-18;
			color: $white;
			line-height: 1.2;
			.icon{
				height: 24px;
			}
		}
	}
	.box-body{
		padding: 10px;
	}
}

.table{
	margin-top: 10px;
	.table-header{
		display: flex;
		justify-content: space-between;
	}
	.table-body{
		display: flex;
		column-gap: 4px;
		.table-col{
			width: 100%;
			height: 100%;
			border-left: 2px solid $dark-700;
			border-right: 2px solid $dark-700;
			border-bottom: 2px solid $dark-700;
			.col-header{
				width: 100%;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 4px 8px;
				background-color: $dark-700;
				font-size: $fs-16;
				color: $white-48;
				white-space: nowrap;
			}
			.col-cell{
				width: 100%;
				height: 30px;
				display: flex;
				align-items: center;
				padding: 4px 8px;
				background-color: $secondary;
				font-size: $fs-16;
				white-space: nowrap;
			}
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7){
				.col-cell{
						justify-content: flex-end;
				}
			}
		}
	}
	.news{
		min-height: 30px;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		background-color: $dark-900;
		.time{
			display: flex;
			align-items: center;
			padding: 4px 8px;
			font-size: $fs-14;
			color: $primary;
			box-shadow: -1px 0px 1px 0px #1F1F1F inset;
		}
		.text{
			display: flex;
			align-items: center;
			padding: 4px 8px;
			font-size: $fs-16;
			color: $white-88;
			box-shadow: 1px 0px 1px 0px #0A0A0A inset;
		}
	}
}

.w-40{
	width: calc(40% - 2px);
}
.w-60{
	width: calc(60% - 2px);
}

.ct-card{
	margin-bottom: 10px;
	.ct-card-header{
		display: flex;
	}
	.ct-card-body{
		display: flex;
		column-gap: 4px;
		.ct-inner-card{
			display: flex;
    	flex-direction: column;
			border-left: 2px solid $dark-700;
			border-right: 2px solid $dark-700;
			border-bottom: 2px solid $dark-700;
			.inner-tabs-header{
				display: flex;
				.tab-item{
					width: 100%;
					display: flex;
					align-items: center;
					height: 26px;
					line-height: 26px;
					padding: 0 8px;
					background: $dark-700;
					font-size: $fs-16;
					color: $white-48;
					letter-spacing: -0.64px;
					white-space: nowrap;
					transition: all 0.2s;
					cursor: pointer;
					user-select: none;
					-ms-user-select: none;
					-moz-user-select: none;
					-webkit-user-select: none;
					box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.37) inset, -1px 0px 2px 0px rgba(255, 255, 255, 0.10) inset;
					&.active{
						color: $primary;
					}
					&.dummy-item{
						cursor: text;
						user-select: auto;
						-ms-user-select: auto;
						-moz-user-select: auto;
						-webkit-user-select: auto;
					}
				}
			}
			.inner-chart{
				flex: 1;
				padding: 8px;
			}
			.inner-tabs-content{
				flex: 1;
				.tab-pane{
					height: 100%;
					display: flex;
					flex-direction: column;
					row-gap: 16px;
					padding: 10px;
				}
			}
		}
	}
}

.balance-bar{
	display: flex;
	align-items: center;
	column-gap: 12px;
	justify-content: flex-end;
	margin-top: 5px;
	.balance{
		font-size: $fs-16;
		color: $white;
		line-height: 1.2;
		margin-bottom: 0;
	}
	.use-max{
		font-size: $fs-16;
		color: $primary;
		line-height: 1.2;
		cursor: pointer;
		user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}
}

.full-white-bar{
	min-height: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $white-76;
	padding: 4px 8px;
	font-size: $fs-16;
	color: $secondary;
	letter-spacing: -0.64px;
	box-shadow: 1px -2px 2px 0px rgba(0, 0, 0, 0.37) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.31) inset;
}

.basic-details{
	display: flex;
	column-gap: 10px;
	margin-bottom: 10px;
	.item{
		width: 100%;
	}
}

.full-bars{
	display: flex;
	flex-direction: column;
	.bar{
		height: 28px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 4px 8px;
		font-size: $fs-16;
		color: $white-64;
		letter-spacing: -0.64px;
		box-shadow: 1px -2px 2px 0px rgba(0, 0, 0, 0.37) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.10) inset;
		&.bg-800{
			background-color: $dark-800;
		}
		&.bg-900{
			background-color: $dark-900;
		}
	}
}

.my-rewards{
	flex: 1;
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	align-items: center;
	justify-content: center;
	.key{
		font-size: $fs-16;
		color: $white-48;
		line-height: 1.2;
		margin-bottom: 0;
	}
	.value{
		font-size: $fs-24;
		color: $white;
		line-height: 1.1;
		margin-bottom: 0;
	}
}

.chart-with-dropdown{
	padding-top: 6px;
	display: flex;
	flex-direction: column;
	row-gap: 6px;
}

.btn-edit{
	display: flex;
	align-items: center;
	column-gap: 4px;
	margin-left: 16px;
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	.icon{
		width: 16px;
	}
}

.modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	.modal-dialog{
		min-height: calc(100% - 3rem);
		display: flex;
    align-items: center;
		margin: 1.5rem auto;
		.modal-content {
			width: 100%;
			pointer-events: auto;
			background-color: $white;
			border: 1px solid $primary;
			.modal-header{
				min-height: 40px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 8px 10px;
				background-color: $dark-950;
				border-bottom: 1px solid $primary;
				.modal-title{
					font-family: "Roboto Mono";
					font-size: $fs-18;
					color: $white;
					line-height: 1.1;
					letter-spacing: -0.36px;
					margin-bottom: 0;
				}
			}
			.modal-body{
				background-color: $secondary;
			}
		}
	}
	&.modal-sm{
		.modal-dialog{
			min-width: 210px;
			max-width: max-content;
		}
	}
	&.show{
		display: block;
	}
}

.modal-connect-wallet{
	.modal-dialog{
		.modal-content{
			.modal-body{
				padding: 10px;
				.wallet-list{
					.item{
						display: flex;
						align-items: center;
						column-gap: 10px;
						padding: 4px 8px;
						font-size: $fs-16;
						color: $white-64;
						letter-spacing: -0.64px;
						white-space: nowrap;
						background: $dark-900;
						box-shadow: 1px -2px 2px 0px rgba(0, 0, 0, 0.37) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.10) inset;
						cursor: pointer;
						.icon{
							min-width: 36px;
							width: 36px;
							border-radius: 6px;
						}
					}
				}
			}
		}
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $secondary;
	opacity: 0;
	transition: all 0.2s;
	&.show{
		opacity: 0.69;
		z-index: 10;
		transition: all 0.2s;
	}
}